{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<div class="page-header">
    <h2>
        <small>Because the only thing scarier than a hardware guy with a software patch is a software guy with a soldering iron</small>
    </h2>
</div>
<p><span class="redwire">RedWire</span> is a Hackathon un-conference, where any ideas to create something (useful or not) can be made reality.</p>
<p>The event focuses on the collaborative creation of actual products from wild and wacky ideas for the sheer pleasure of hacking and building something. We've had many ideas for fun projects bandied around, and it's high time we sat down and worked on some of them.</p>
<p>While we've not decided if there are to be prizes awarded to completed projects, we would probably give the most credit for projects that blow our minds, stretch our imaginations, and even fail in spectacular fashion.</p>
<h3><a href="#">When</a></h3>
<p><span class="redwire">RedWire</span> will be held from Dec 1st at 12:00 to Dec 2nd 12:00</p>
<h3><a href="{% url 'location' %}" target="_top" >Where</a></h3>
<p><span class="redwire">RedWire</span> is being held at the JFDI offices</p>
<address>
    <strong>JFDI</strong><br/>
    71 Ayer Rajah Crescent #05-16<br/>
    Singapore 139951<br/>
</address>
{% endblock %}
