{% extends 'base.html' %}

{% block content %}
<div class="page-header">
<h1 class="mast">RedWire<small>Because the only thing scarier than a hardware guy with a software patch is a software guy with a soldering iron</small></h1>
<p>RedWire is a Hackathon un-conference, where any ideas to create something (useful or not) can be made reality.</p>
<p>The event focuses on the collaborative creation of actual products from wild and wacky ideas for the sheer pleasure of hacking and building something. We've had many ideas for fun projects bandied around, and it's high time we sat down and worked on some of them.</p>
<p>While we've not decided if there are to be prizes awarded to completed projects, we would probably give the most credit for projects that blow our minds, stretch our imaginations, and even fail in spectacular fashion.</p>
{% endblock %}
