{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h2>
        <small>Location</small>
    </h2>
</div>
<p><a href="http://jfdi.asia/">JFID</a> decided the world needed to be more awesome, so they gave us a place to make it so!</p>
<address>
    <strong>JFDI</strong><br/>
    71 Ayer Rajah Crescent #05-16<br/>
    Singapore 139951<br/>
</address>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=blk+71+ayer+raja&amp;aq=&amp;sll=1.314,103.84425&amp;sspn=0.4716,0.727158&amp;ie=UTF8&amp;hq=&amp;hnear=71+Ayer+Rajah+Crescent,+Singapore+139951&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=blk+71+ayer+raja&amp;aq=&amp;sll=1.314,103.84425&amp;sspn=0.4716,0.727158&amp;ie=UTF8&amp;hq=&amp;hnear=71+Ayer+Rajah+Crescent,+Singapore+139951&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
{% endblock %}

