{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<div class="page-header">
    <h2>
        <small>Because the only thing scarier than a hardware guy with a software patch is a software guy with a soldering iron</small>
    </h2>
</div>
<p>We have heard some great ideas for projects, and below are some of them.  As we get closer to the event, a Trello board will be created to help people self-organize their projects and teams.</p>
<p>On top ideas, we have some equipment that will be showing up to the event.  <a href="http://hackerspace.sg/">Hackerspace.sg</a> is letting us borrow their 3d printer.  Quad-coptors are being brought by a couple of people.  I will update this list as I receive updates from people.</p>
<h2>Project Ideas</h2>
<ul>
    <li><a href="http://nodecopter.com/">NodeCopters</a></li>
    <li>2m remote controlled Zeplin</li>
    <li>Espresso Deliver quad-copter</li>
    <li>Any game from <a href="https://twitter.com/PeterMolydeux">Peter Molydeux</a></li>
    <li>Robot dog with laser eyes</li>
    <li>RaspberryPi Cases</li>
    <li>RaspberryPi arcade cabinet (or really, anything from <a href="http://raspberrypihacks.com/">raspberrypihacks.com</a>)</li>
</ul>
{% endblock %}
